body{
    background-color:#CCC;
    margin: 0%;
}

.body-container{
    /* background-color:#FF0; */
    width: 100%;
}

.section-header{
    background-color:#6C3483;
    padding-top: 0.5em;
    padding-bottom: 5em;
    
}

.left-col{
    background-color:#FFF;
    padding : 1em;
    border-radius: 10px;
}

.row-space{
    padding-top: 1em;
}

.section-body{
    padding-top : 5em;
    padding-bottom : 3em;
}

.err_msg{
    color: #F00;
    float: right;
    font-size:11px;
    font-weight:600;
}

.div-success{
    padding : 0em 5em;
}